* {
    margin: 0px;
    padding: 0px;
}

main {
    width: 30%;
    margin: 70px auto;
}

#container {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#container h2 {
    letter-spacing: 1px;
    font-size: 26px;
    margin: 10px 0;
    font-weight: 300;
}

#container #div1 {
    line-height: 2.5rem;
    margin: 10px 0;
    opacity: 0.9;
    font-size: 14px;
}

form {
    display: flex;
    flex-direction: column;
}

#container label {
    margin: 10px 0;
    font-size: 14px;
}

#container input {
    margin: 10px 0;
    padding: 6px;
    height: 36px;
    font-size: 14px;
}

#div2 {
    line-height: 1.5rem;
    margin: 20px 0;
    opacity: 0.9;
    font-size: 14px;
}
#div2 a {
    text-decoration: underline;
    color: #dd0031;
}

#signup-btn {
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    border: none;
    background-color: #dd0031;
    margin: 10px 0;
}

#signup-btn:hover {
    opacity: 0.7;
}